* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'NorseBold';
  src: url('./assets/font/Norse-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  background-color: #F9FAFB;
  overflow-x: hidden;
}

.container {
  display: flex;
}

.container-image {
  height: 100vh;
  max-width: 40%;
  flex: 1.2;
	background-image: url('./assets/images/halie-west-25xggax4bSA-unsplash.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.logo {
	position: relative;
	top: 22%;
	height: 200px;
	width: 100%;
	background-color:  rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	gap:3px;
}

.logo img {
	width: auto;
	height: 80%;
}	

.logo h3 {
	color: white;
	font-size: 30px;
	font-family: NorseBold;
	font-size: 100px;
	margin-top: 5px;
}

.container-account {
	height: 100vh;
	max-width: 60vw;
	flex: 3;
}

.container-account .margins {
  margin: 15% 10% 0 3%;
}

.container-account h3 {
	color: #333;
	font-size: 25px;
}

.container-account .margins h3:last-of-type{
	margin-top: 40px;
}

.card-form {
	position: relative;
	top: 10%;
  background-color: white;
  height: 220px;
  width: 100vw;
	border-radius: 4px; 
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

.card-form form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

label{
	font-size: 12px;
	font-weight: bold;
	color: #6B717B;
}

.title{
	font-size: 20px;	
}

.margin-form{
	margin-top: 20px;
	margin-left: 30px;
}

.card-form form .content-form {
	display: flex;
	gap: 40px;
	padding: 20px;
	padding-left: 30px;
}

.content-input-group{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.input-group {
	display: flex;
	flex-direction: column;
}


input{
	width: 200px;
	height: 25px;
	border: 1px solid #F0F1F3;
	border-radius: 5px;
	padding: px;
}

input:user-valid {
  border: 2px solid green;
  background-color: rgba(40, 167, 69, 0.1);
}

input:user-invalid {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.1);
}

input[type="tel"]::placeholder {
	color: rgba(0, 0, 0, 0.3); 
  font-style: italic;
}

.btn{
	background-color: #596D48;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	margin-top: 20px;
	cursor: pointer;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}



.login{
	position: relative;
	top: 20px;
	font-size: 20px;
}

a{
	text-decoration: none;
	color: #596D48;
}
